meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
style
    include css/foundation.css
    include css/app.css    
script(src='js/vendor/jquery.js')