ul.filters, ul.lang {
  list-style-type: none;
  margin: 8px 0;
  padding-left: 0 !important;
  margin-left: 0  !important; }

ul.filters li, ul.lang li {
  display: inline-block; }

ul.filters.filter-day li a {
  background-color: #2287ca; }

ul.filters.filter-day li a.active, ul.filters.filter-day li a:hover {
  background-color: #35b7e7; }

ul.filters.filter-scene li a {
  background-color: #386380; }

ul.filters.filter-scene li a.active, ul.filters.filter-scene li a:hover {
  background-color: #558fb0; }

ul.filters.filter-style li a {
  background-color: #0c344d; }

ul.filters.filter-style li a.active, ul.filters.filter-style li a:hover {
  background-color: #134f73; }

ul.filters li a, ul.lang li a {
  display: block;
  background-color: #06324f;
  color: #fff;
  padding: 6px;
  margin: 3px;
  text-transform: capitalize;
  cursor: pointer;
  position: relative; }

.cross {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 0.6em;
  display: none; }

ul.filters li a:hover, ul.filters li a.active, ul.lang li a:hover, ul.lang li a.active {
  display: block;
  background-color: #1b76ba;
  color: #fff; }

ul.filters li a.active {
  padding: 6px 15px 6px 6px; }

ul.filters li a.active .cross {
  display: block; }

ul.filters li a.deactivate, ul.lang li a.deactivate {
  background-color: #ccc;
  color: #fff;
  cursor: default;
  display: none; }

article {
  padding: 5px 0;
  display: none; }

div.concert {
  margin: 10px 0; }

div.concerts {
  display: block;
  position: relative;
  background-color: #072233;
  color: #fff;
  padding: 2px 5px;
  margin: 3px; }

.expand {
  cursor: pointer; }

.exp {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 0.8em; }

span.origin {
  padding: 0 5px;
  font-size: 0.7em; }

span.time {
  /*	font-size:0.8em;*/
  color: #fffe89; }

span.small {
  font-size: 0.6em; }

span.scene, span.day {
  /*	font-size:0.8em; */ }

div.style {
  text-transform: capitalize;
  margin: 0 0 5px 0; }

a.link {
  display: block;
  margin: 5px 0;
  color: #fffe89;
  padding: 5px 0;
  text-decoration: none; }

div.reset {
  display: none;
  color: #fff;
  padding: 7px;
  margin: 3px 3px 10px 3px;
  text-transform: capitalize;
  background-color: #999;
  cursor: pointer; }

span.title {
  font-weight: 800; }

@media only screen and (max-width: 700px) {
  ul.filters li a:hover, ul.lang li a:hover {
    background-color: #06324f; }
  ul.filters li a.active, ul.lang li a.active {
    background-color: #1b76ba; }
  ul.filters.filter-day li a:hover {
    background-color: #2287ca; }
  ul.filters.filter-day li a.active {
    background-color: #35b7e7; }
  ul.filters.filter-scene li a:hover {
    background-color: #386380; }
  ul.filters.filter-scene li a.active {
    background-color: #558fb0; }
  ul.filters.filter-style li a:hover {
    background-color: #0c344d; }
  ul.filters.filter-style li a.active {
    background-color: #134f73; } }
