<p><style>ul.filters, ul.lang {
	list-style-type: none;
	margin: 8px 0;
	padding-left : 0 !important;
	margin-left:0  !important;
}
ul.filters li, ul.lang li { 
	display: inline-block;
}
ul.filters li a, ul.lang li a { 	
	display: block;
	background-color: #06324f;
	color:#fff;
	padding: 2px 5px;
	margin: 3px;
    text-transform: capitalize;
    cursor: pointer;    
}
ul.filters li a:hover, ul.filters li a.active, ul.lang li a:hover, ul.lang li a.active { 	
	display: block;
	background-color: #1b76ba;
	color:#fff;
	padding: 2px 5px;
	margin: 3px;
}
ul.filters li a.deactivate, ul.lang li a.deactivate { 	
	background-color: #ccc;
	color:#fff;
	cursor: default;
display:none
}
article {
	padding: 5px 0;
	font-size: 0.8em;
	line-height: 1.2;
	display: none;
}
div.concert {	
	margin: 10px 0	
}
div.concerts {	
	display: block;
	background-color: #06324f;
	color:#fff;
	padding: 2px 5px;
	margin: 3px;
    cursor: pointer;			
}
span.origin { 
	padding: 0 5px; 
	font-size:0.7em
}
span.time { 
	font-size:0.8em;
	color:orange
}
span.small { 
	font-size:0.6em;
}
span.scene,span.day { 
	font-size:0.8em;
}
div.style { 
	text-transform: capitalize;
	margin:0 0 5px 0 	
}
a.link { display: block; margin:5px 0; color:orange }
a.reset { 	
	display: none;
	background-color: #06324f;
	color:#fff;
	padding: 2px 5px;
	margin: 3px;
    text-transform: capitalize;	
}
span.title {	
	font-weight: 800;	
}
@media only screen and (max-width: 700px) {
	ul.filters li a:hover, ul.lang li a:hover{ 	
		background-color: #06324f;
	}
	ul.filters li a.active, ul.lang li a.active { 	
		background-color: #1b76ba;
	}	
}</style></p><div class="row"><div class="large-12 columns filters"> </div><div class="large-12 columns concert"><a class="reset">Reset</a> </div></div><p><script src="/festiapp/js/jquery.js"></script> <script src="/festiapp/js/festiapp-min.js"></script></p>