//- index.pug
doctype html
html
    title My Site  
    include includes/head
    body
        //h1 My Site    
        script
           include includes/js/app.js
        ul
            each val, index in list
                li.div
                   .name=  val.name
                   if val.styles
                      div.styles=  val.styles
                      span edit

script(type='text/javascript').
    var local_data =!{JSON.stringify(list)}
    console.log(local_data)